@model IEnumerable<Course>

<div class="row pb-3">
    @foreach (var course in Model)

    {
        <div class="col-lg-4 col-sm-12">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        @if (course.CourseImages != null && course.CourseImages.Any())

                        {
                            <img src="@course.CourseImages.FirstOrDefault().ImageUrl" class="card-img-top rounded" />
                        }

                        else

                        {
                            <img src="http://placehold.co/500x600/png" class="card-img-top rounded" />
                        }

                        <div class="card-body pb-0">
                            <div class="text-center">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase">@course.Title</p>
                                <p class="text-muted">@course.Description</p>
                            </div>
                        </div>
                        <div class="text-center p-2">
                            <a asp-action="Details"
                               asp-route-courseId="@course.CourseId"
                               class="btn btn-primary bg-gradient border-0 form-control">
                                View Course
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
